* {
  margin: 0;
  padding: 0;
}

/*contact-list*/
.c-body{
  /* background-color: yellow; */
}
.text-center{
  text-align: center;
}

.c-tsearch{
  /* background-color: red; */

  /* .MuiOutlinedInput-root{
    background-color: green;
  } */

}


/*AddList*/
.al-input{
  margin-bottom: 10px;
  .MuiOutlinedInput-root{
    height: 40px;
    background-color: white;
  }
}
.al-label{
  font-size: 15px;
  font-weight: 600 !important;
}
.icons{
  cursor: pointer;
}

.al-form{
  .MuiFormControl-root{
    margin-bottom: 10px;
  }
}


/*Register*/
.submit-button{
  background-color: black !important;
}

/*Header*/
.toolbar-custom{
  .css-i9gxme{
    flex-grow: 0 !important;
    -webkit-box-flex: 1 !important;
  }
}